.movie-info{
    width: 100%;
    height: calc(100vh);
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
}
.movie-detail{
    width: 50%;
    height: 100%;
    background: rgb(24, 24, 24);
    background: linear-gradient(90deg, rgba(24,24,24,1), rgba(24,24,24,0)
    100%);
    padding: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;

}

.movie-review{
    background: white;
}

.movie-name{
    font-size: 40px;
    font-weight: 500;
}

.genres{
    opacity: 0.6;
    margin: 20px 0;
}
.des{
    width: 70%;
    line-height: 20px;
    margin-top: 80px;
    
}
.des p{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    
}

.actor h1{
    color: aliceblue;
}
.starting{
    display: flex;
    color: #fff;
    justify-content: flex-start;
}

.starting::-webkit-scrollbar{
    display: none;
}
.castImg{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}
.starting img{
    width: 148px;
    height: 185px;
    margin-bottom: 10px;
}
.starting span{
    opacity: 0.6;
}

.otts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ottStream{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.ottBuy{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.ottRent{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.otts img{
    width: 40px;
    height: 40px;
    margin: 10px 0px 0px 10px;
    align-items: center;
}
.actor,
.trailer-container,
.recommendations{
    color: #fff;
    padding: 5vw 5vw 0;
}

.heading{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

iframe{
    width: 400px;
    height: 200px;
}

.recommendations-container{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.movie p {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    opacity: 0;
}

.movie:hover p{
    opacity: 1;
}