*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

body {
    background-color: #99ccff;
    overflow: hidden;
    background-image: url('/img/interactive2.png');
}
.game-Text{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}
.game-Text > button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor:pointer;
}
.score{
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

/* playground의 ul에 줌 */
.playground{
    border: 1px;
}
.playground > ul{
    border: 1px solid #333;
    width: 250px;
    margin:0 auto;
}
.playground > ul > li{
    width: 100%;
    height: 25px;
}
/* flex로 세로가 아닌 옆으로 나열하게 만듦 */
.playground >ul > li > ul{
    display: flex;
}

.playground >ul > li > ul > li{
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
}

.tree{
    background: #ffed00;
}
.bar{
    background: #00b0ff;
}
.zee{
    background: #ff4f00;
}
.cvzee{
    background: purple;
}
.eleft{
    background: #00b50d;
}
.eright{
    background: #035800;
}
.square{
    background: #ff0000;
}