*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    background-color: #181818;
    font-family: 'roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: #000;
    padding: 0 2.5vw;
    display: flex;
    align-items: center;

}

.logo{
    width: 150px;
    height: 70px;
}

.join-box{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
} 

.join-msg{
    color: #fff;
    text-transform: uppercase;
    /* margin-top: 30px; */
    margin-right: 20px;
} 

/* .btn{
    border: 1px solid #fff;
    background: none;
    border-radius: 2px;
    color: #fff;
    height: 35px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;

}

.join-btn{
    background: #dd0e15;
    border-color: #dd0e15;
} */

.main{
    position: relative;
    margin-top: 100px;
    width: 100%;
    padding: 40px 2.5vw;
    color: #fff;
}

.heading{
    text-transform: capitalize;
    font-weight: 900;
    font-size: 50px;
}
.search-bar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form > input{
    width: 200px;
    height: 30px;
    font-size: 18px;
    border:none;
    border-bottom: 1px black solid;
    border-radius: 2px;
    margin-right: 10px;
}
form > button{

    display: inline-block;
    width: 60px;
    height: 30px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    color:#e6e6e6;
    background: #35ce91;
    text-align: center;
    cursor: pointer;
}

.info{
    width: 50%;
    font-size: 20px;
    margin-top: 10px;
}

.movie-list{
    width: 100%;
    height: 300px;
    margin-top: 40px;
    position: relative;
}

.movie-category{
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: capitalize;
}

.movie-container{
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}

.movie-container::-webkit-scrollbar{
    display: none;
}

.movie{
    flex: 0 0 auto;
    width: 24%;
    height: 260px;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.movie img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.movie p{
    text-transform: capitalize;
    height: 20px;
    overflow: hidden;
}


.pre-btn,
.nxt-btn{
    position: absolute;
    height: 200px;
    top: 50%;
    transform:  translateY(-50%);
    width: 2.5vw;
    background: #181818;
    border: none;
    outline: none;
    opacity: 0;
}

.pre-btn{
    left: -2.5vw;
    
}

.nxt-btn{
    right: -2.5vw;
}

.pre-btn img,
.nxt-btn img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.nxt-btn:hover,
.pre-btn:hover{
    opacity: 1;
}